{% extends 'manager/managerBase.html' %}

{% block title %}اضافه کردن به بورد{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
    function f(){alert("درخواست با موفقیت ثبت شد."); window.location.href="editNeighbours.html";}
    function g(){
       var e = document.getElementById("from");
       var strUser = e.options[e.selectedIndex].value;
       var f = document.getElementById("cost_tag");
       if (strUser == "event")
          f.style.display='block';
       else
          f.style.display='none';
    }
{% endblock %}

{% block content %}
<div class="main">
    <h5>افزودن رویداد/خبر به برد</h5>
    <form action="" method="post">
        {% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td>
         <select class="from" name="choose"  id ="from" placeholder="" onchange="g()">
                    <option value="event">رویداد</option>
                    <option value="news">خبر</option>
                </select>
        </td>
                <td><label for="unit">نوع </label></td>
            </tr>
            <tr>

                <td><input type="text" name="board" id="id_board"></td>
                <td><label for="id_board">شماره بلوک</label></td>
            </tr>

            <tr>

                <td><input type="text" name="title" id="id_title"></td>
                <td><label for="id_title"> عنوان</label></td>
            </tr>

            <tr>

               <td><input type="text" name="description" id="id_description"></td>
                <td><label for="id_description">توضیحات </label></td>
            </tr>

            <tr id="cost_tag"  >

               <td><input type="text" name="cost" id="id_cost"></td>
                <td><label for="id_cost">مبلغ </label></td>
            </tr>


            </tbody>
        </table>
        <input type="submit" class="btn"  value="ثبت">
    </form>

</div>
{% endblock %}



