{% extends 'manager/managerBase.html' %}

{% block title %}اضافه کردن همسایه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){alert("همسایه با موفقیت اضافه شد"); window.location.href="editNeighbours.html";}
{% endblock %}

{% block content %}

<div class="main">
    <h5>وارد کردن اطلاعات همسایه ی جدید</h5>
    <form action="" method="post">
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td><input type="number" name="unit" id="unit" min="1" max="100"></td>
                <td><label for="unit">شماره واحد </label></td>
            </tr>

            <tr>

                <td><input type="text" name="username" id="username"></td>
                <td><label for="username"> نام کاربری سرپرست</label></td>
            </tr>

            <tr>

               <td><input type="number" name="count" id="count" min="1" max="10"></td>
                <td><label for="count">تعداد اعضای خانواده </label></td>
            </tr>

            <tr>

               <td><input type="number" name="car" id="car" min="1" max="5"></td>
                <td><label for="car">تعداد اتومبیل </label></td>
            </tr>


            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ثبت</button>

</div>

{% endblock %}




