{% extends 'manager/managerBase.html' %}

{% block title %}اضافه کردن همسایه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){alert("همسایه با موفقیت اضافه شد"); window.location.href="editNeighbours.html";}
{% endblock %}

{% block content %}

<div class="main">
    <h5>وارد کردن اطلاعات همسایه ی جدید</h5>
    <form action="" method="post">{% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>
            <tr>
                <td><input type="text" name="firstname" id="firstname" value="{{ form1.firstname }}"></td>
                <td><label for="firstname">نام</label></td>
            </tr>
            <tr>
                <td><input type="text" name="lastname" id="lastname" value="{{ form1.lastname }}"></td>
                <td><label for="username"> نام خانوادگی</label></td>
            </tr>
            <tr>
                <td><input type="email" name="username" id="email" value="{{ form1.email }}"></td>
                <td><label for="email">ایمیل</label></td>
            </tr>
            <tr>
                <td><input type="number" name="phoneNumber" id="phoneNumber" value="{{ phoneNumber }}"></td>
                <td><label for="phoneNumber">شماره تلفن</label></td>
            </tr>
            <tr>
                <td><select name="unit" id="unit">
                    <option value="" selected disabled>------</option>
                    {% for unit in units %}
                        <option value="{{ unit.id }}">{{ unit.id }}</option>
                    {% endfor %}
                </select></td>
                <td><label for="unit">شماره واحد </label></td>
            </tr>
            <tr>
               <td><input type="number" name="count" id="count" min="1" max="10"></td>
                <td><label for="count">تعداد اعضای خانواده </label></td>
            </tr>
            <tr>
               <td><input type="number" name="car" id="car" min="1" max="5"></td>
                <td><label for="car">تعداد اتومبیل </label></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn">ثبت</button>
    </form>

</div>

{% endblock %}




