{% extends 'manager/managerBase.html' %}

{% block title %}اضافه کردن همسایه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){alert("همسایه با موفقیت اضافه شد"); window.location.href="editNeighbours.html";}
{% endblock %}

{% block content %}

<div class="main">
    <h5>وارد کردن اطلاعات همسایه ی جدید</h5>
    <form action="" method="post" style="direction: ltr">{% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>
            <tr>
                <td><input type="text" name="first_name" id="firstname" value="{{ form1.first_name.value }}">
                {% if form1.first_name.errors %}
                        <span class="text-danger">
                            <p>{{ form1.first_name.errors }}</p>
                        </span>
                    {% endif %}
                </td>
                <td><label for="firstname">نام</label></td>
            </tr>
            <tr>
                <td><input type="text" name="last_name" id="lastname" value="{{ form1.last_name.value }}">
                {% if form1.last_name.errors %}
                        <span class="text-danger">
                            <p>{{ form1.last_name.errors }}</p>
                        </span>
                    {% endif %}
                </td>
                <td><label for="username"> نام خانوادگی</label></td>
            </tr>
            <tr>
                <td><input type="email" name="email" id="email" value="{{ form1.email.value }}">
                    {% if form1.email.errors %}
                        <span class="text-danger">
                            <p>{{ form1.email.errors }}</p>
                        </span>
                    {% endif %}
                </td>
                <td><label for="email">ایمیل</label></td>
            </tr>
            <tr>
                <td><input type="number" name="phoneNumber" id="phoneNumber" value="{{ phoneNumber }}">
                {% if error %}
                        <span class="text-danger">
                            <p>{{ error }}</p>
                        </span>
                {% endif %}
                </td>
                <td><label for="phoneNumber">شماره تلفن</label></td>
            </tr>
            <tr>
                <td><select name="unit" id="unit" style="text-align: right;">
                    <option value="" selected disabled>------</option>
                    {% for unit in units %}
                        <option value="{{ unit.id }}">{{ unit.id }}</option>
                    {% endfor %}
                </select></td>
                <td><label for="unit">شماره واحد </label></td>
            </tr>
            <tr>
               <td><input type="number" name="member_count" id="count" min="1" max="10" value="{{ form2.member_count.value }}"></td>
                <td><label for="count">تعداد اعضای خانواده </label></td>
            </tr>
            <tr>
               <td><input type="number" name="car_count" id="car" min="1" max="5" value="{{ form2.car_count.value }}"></td>
                <td><label for="car">تعداد اتومبیل </label></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn">ثبت</button>
    </form>

</div>

{% endblock %}




