{% extends 'manager/managerBase.html' %}

{% block title %}اضافه کردن واحد{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="main">
    <h5>افزودن واحد جدید</h5>
    <form action="" method="post" style="direction: ltr">{% csrf_token %}
        {% if error %}
            <div class="text-danger"> {{ error }} </div>
        {% endif %}
        <table class="tbl" border="0" align="center">
            <tbody>
            <tr>
                <td><select name="block" id="block">
                    <option disabled selected style="color: black;">-----</option>
                    {% for block in blocks %}
                        <option value="{{ block.id }}">{{ block.id }}</option>
                    {% endfor %}
                </select></td>
                <td><label for="block">شماره بلوک </label></td>
            </tr>
            <tr>
                <td><input type="number" name="area" id="area" min="1" max="1000"></td>
                <td><label for="area">متراژ</label></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" class="btn" value="ثبت"/>
    </form>


</div>
{% endblock %}




