{% extends 'manager/managerBase.html' %}

{% block title %}اطلاعات مجتمع{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="main">
    <h5>ویرایش اطلاعات همسایه</h5>
    <form action="" method="post">{% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

                <td><select class="from" name="name" id="type" placeholder="">
                    <option>ساختمان مسکونی</option>
                    <option value>ساختمان اداری</option>
                </select></td></td>
                <td><label for="type">نوع ساختمان </label></td>
            </tr>

            <tr>

                <td><input type="number" name="telephone" id="telephone"></td>
                <td><label for="telephone"> شماره تلفن</label></td>
            </tr>

            <tr>

               <td><input type="text" name="address" id="address" ></td>
                <td><label for="address">آدرس </label></td>
            </tr>

             <tr>

               <td><select class="from" name="choose" id="city"  placeholder="">
                    <option>تهران</option>
                    <option value>پردیس</option>
                </select></td></td>
                <td><label for="city">شهر </label></td>
            </tr>
			 <tr>

               <td><select class="from" name="choose" id="state"  placeholder="">
                    <option>تهران</option>
                    <option >آذربایجان شرقی</option>
                </select></td></td>
                <td><label for="state">استان</label></td>
            </tr>
			<tr>

                <td><input type="number" name="zip_code" id="zip_code"></td>
                <td><label for="zip_code"> کد پستی</label></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="facility1" id="f1" value="استخر">استخر
                    <input type="checkbox" name="facility2" id="f2" value="آلاچیق">آلاچیق
                    <input type="checkbox" name="facility3" id="f3" value="سالن ورزشی">سالن ورزشی
                </td>
                <td><label for="">انتخاب امکانات</label></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" name="submit" tabindex="4"
               class="form-control btn btn-login" value="ویرایش" placeholder="ویرایش">

    </form>


</div>
{% endblock %}


