{% extends 'manager/managerBase.html' %}

{% block title %}ویرایش اطلاعات همسایه ها{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/reqStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="main">
    <h5>ساکنین</h5>

    <table>
        <tr>

            <th>حذف</th>
            <th>ویرایش</th>
            <th>تعداد اتومبیل</th>
            <th>تعداد اعضای خانواده</th>
            <th>نام سرپرست</th>
            <th> شماره واحد</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0)"><img src="../../../static/images/delete.png" class="linkImg"></a></td>
            <td><a href="editN.html"><img src="../../../static/images/edit.jpg" class="linkImg"></a></td>
            <td>2</td>
            <td>5</td>
            <td>هاشم بابایی</td>
            <td>1</td>
        </tr>
        <tr>
            <td><a href="javascript:void(0)"><img src="../../../static/images/delete.png" class="linkImg"></a></td>
            <td><a href="editN.html"><img src="../../../static/images/edit.jpg" class="linkImg"></a></td>
            <td>1</td>
            <td>4</td>
            <td>مسعود حیدری</td>
            <td>2</td>
        </tr>
        <tr>
            <td><a href="javascript:void(0)"><img src="../../../static/images/delete.png" class="linkImg"></a></td>
            <td><a href="editN.html"><img src="../../../static/images/edit.jpg" class="linkImg"></a></td>
            <td>0</td>
            <td>3</td>
            <td>علی علوی</td>
            <td>3</td>
        </tr>

    </table>

    <a type="button" class="btn" href="{% url 'site:manager:addNeighbour"' %}">اضافه کردن همسایه جدید</a>


</div>
{% endblock %}

