{% extends 'manager/managerBase.html' %}

{% block title %}ویرایش کردن همسایه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){alert("اطلاعات همسایه با موفقیت به روز شد"); window.location.href="editNeighbours.html";}
{% endblock %}

{% block content %}
<div class="main">
    <h5>ویرایش کردن اطلاعات همسایه</h5>
    <form action="Welcome.html" method="post">
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td><input type="number" name="unit" id="unit" min="1" max="100" value="1"></td>
                <td><label for="unit">شماره واحد </label></td>
            </tr>

            <tr>

                <td><input type="text" name="username" id="username" value="hashem.b"></td>
                <td><label for="username"> نام کاربری سرپرست</label></td>
            </tr>

            <tr>

               <td><input type="number" name="count" id="count" min="1" max="10" value="5"></td>
                <td><label for="count">تعداد اعضای خانواده </label></td>
            </tr>

            <tr>

               <td><input type="number" name="car" id="car" min="1" max="5" value="2"></td>
                <td><label for="car">تعداد اتومبیل </label></td>
            </tr>


            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ثبت</button>

</div>
{% endblock %}




