{% extends 'manager/managerBase.html' %}

{% block title %}ویرایش اطلاعات واحدها{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/reqStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    <div class="main" style="direction: ltr">
    <h5>واحدها</h5>

    <table>
        <tr>
            <th>حذف</th>
            <th>مساحت</th>
            <th>شماره بلوک</th>
            <th> شماره واحد</th>
        </tr>
        {% for unit in units %}
        <tr>
            <td><a href="{% url 'site:manager:deleteUnit' unit.id %}" onclick="f({{ unit.id }})"><img
                    src="../../../static/images/delete.png" class="linkImg"></a></td>
            <td>{{ unit.area }} متر مربع</td>
            <td>{{ unit.block.id }}</td>
            <td>{{ unit.id }}</td>
        </tr>
        {% endfor %}
    </table>

    <a type="button" class="btn" href="{% url 'site:manager:addUnit' %}">اضافه کردن واحد جدید</a>

</div>
{% endblock %}

