{% extends 'manager/managerBase.html' %}

{% block title %}ویرایش اطلاعات همسایه ها{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/reqStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="main">
    <h5>ساکنین</h5>
    <table class="tbl" border="O" align="center">
        <tr>

            <th>حذف</th>
            <th>ویرایش</th>
            <th>تعداد اتومبیل</th>
            <th>تعداد اعضای خانواده</th>
            <th>نام سرپرست</th>
            <th> شماره واحد</th>
        </tr>
        {% for neighbour in neighbours %}
        <tr>
            {% load static %}
            <td><a href="{% url 'site:manager:deleteNeighbour' neighbour.id %}"><img
                    src="{% static "images/delete.png" %}" class="linkImg"></a></td>
            <td><a href="{% url 'site:manager:editN' neighbour.id %}"><img src="{% static "images/edit.jpg" %}" class="linkImg"></a>
            </td>
            <td>{{ neighbour.car_count }}</td>
            <td>{{ neighbour.member_count }}</td>
            <td>{{ neighbour.member.user.first_name }} {{ neighbour.member.user.last_name }}</td>
            <td>{{ neighbour.unit.id }}</td>
        </tr>
        {% endfor %}

    </table>

    <a type="button" class="btn" style="color:white; font-weight: bold;" href="{% url 'site:manager:addNeighbour' %}">اضافه
        کردن همسایه جدید</a>

</div>
{% endblock %}

