{% extends 'manager/managerBase.html' %}

{% block title %}ویرایش کردن همسایه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}


{% block content %}
<div class="main">
    <h5>ویرایش کردن اطلاعات همسایه</h5>
    <form action="" method="post" style="direction: rtl">{% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>
                <td><select name="unit" id="unit" style="text-align: right;">
                    <option value="{{ unit}}" selected>{{ unit }}</option>
                    {% for u in units %}
                        <option value="{{ u.id }}">{{ u.id }}</option>
                    {% endfor %}
                </select></td>
                <td><label for="unit">شماره واحد </label></td>
            </tr>

            <tr>
               <td><input type="number" name="member_count" id="count" min="1" max="10" value="{{ form.member_count.value }}"></td>
                <td><label for="count">تعداد اعضای خانواده </label></td>
            </tr>

            <tr>
               <td><input type="number" name="car_count" id="car" min="1" max="5" value="{{ form.car_count.value }}"></td>
                <td><label for="car">تعداد اتومبیل </label></td>
            </tr>


            </tbody>
        </table>
      <button type="submit" class="btn" >ثبت</button>
    </form>


</div>
{% endblock %}




