{% extends 'manager/managerBase.html' %}

{% block title %}ویرایش اطلاعات واحدها{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/reqStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="main">
    <h5>واحدها</h5>

   <select class="from" name="choose"  placeholder="به ترتیب">
                    <option value="جدیدترین">شماره واحد صعودی</option>
                    <option value="قدیمی ترین">شماره واحد نزولی</option>
                </select></td>

    <table>
        <tr>
            <th>حذف</th>
            <th>مساحت</th>
            <th>شماره بلوک</th>
            <th> شماره واحد</th>
        </tr>
        <tr>
            <td><a href="javascript:void(0)"><img src="../../../static/images/delete.png" class="linkImg"></a></td>
            <td>180 مترمربع</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td><a href="javascript:void(0)"><img src="../../../static/images/delete.png" class="linkImg"></a></td>
            <td>100 متر مربع</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td><a href="javascript:void(0)"><img src="../../../static/images/delete.png" class="linkImg"></a></td>
            <td>100 متر مربع</td>
            <td>1</td>
            <td>13</td>
        </tr>

    </table>

    <button type="button" class="btn" onclick="window.location.href='addUnit.html'">اضافه کردن واحد جدید</button>

</div>
{% endblock %}

