{% extends 'manager/managerBase.html' %}

{% block title %}وارد کردن قبض{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}

{% endblock %}

{% block content %}

<div class="main">
    <h5>وارد کردن قبض</h5>
    <form action="" method="post">
            {% csrf_token %}
            <table class="tbl" border="0" align="center">
                <tbody>
                <tr>

                    <td class="mytext">{{ form.num }}</td>
                    <td><label>شماره قبض </label></td>
                </tr>
                <tr>

                    <td class="mytext">{{ form.cost }}</td>
                    <td><label>مبلغ به ریال </label></td>
                </tr>
                <tr>

                    <td class="mytext">{{ form.date  }}</td>
                    <td><label>تاریخ</label></td>
                </tr>
                <tr>

                    <td><select id="subject" required name="block">
                        {% for s in form.block %}
                            {{ s }}
                        {% endfor %}
                    </select></td>
                    <td><label for="subject">بلوک </label></td>
                </tr>



                </tbody>
            </table>
            <input type="submit" class="btn"  value="انجام شد">
        </form>



</div>

{% endblock %}