{% extends 'manager/managerBase.html' %}

{% block title %}وارد کردن قبض{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){alert("قبض با موفقیت اضافه شد")}

{% endblock %}

{% block content %}

<div class="main">
    <h5>وارد کردن قبض</h5>
    <form action="" method="post">
            {% csrf_token %}
            <table class="tbl" border="0" align="center">
                <tbody>
                <tr>
                    <td><select id="block" required name="block">
                        <option disabled selected style="color: black;">---------</option>
                    {% for block in blocks %}
                        <option value="{{ block.id }}">{{ block.id }}</option>
                    {% endfor %}
                    </select></td>
                    <td><label for="block">بلوک </label></td>
                </tr>
                <tr>
                    <td><select id="type" required name="type">
                        {% for t in form.type %}
                            {{ t }}
                        {% endfor %}
                    </select></td>
                    <td><label for="type">نوع قبض</label></td>
                </tr>
                <tr>

                    <td class="mytext">{{ form.num }}</td>
                    <td><label>شماره قبض </label></td>
                </tr>
                <tr>

                    <td class="mytext">{{ form.cost }}</td>
                    <td><label>مبلغ به ریال </label></td>
                </tr>


                </tbody>
            </table>
            <input type="submit" class="btn" onclick="f()" value="اضافه">
        </form>



</div>

{% endblock %}