{% extends 'manager/managerBase.html' %}

{% block title %}ارسال دعوت نامه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){ window.location.href="message.html";}
{% endblock %}

{% block content %}

    <div class="main">
        <h5>ارسال دعوت نامه</h5>
        <form action="" method="post">
            {% csrf_token %}
            <table class="tbl" border="0" align="center">
                <tbody>

                <tr>

                    <td><select id="subject" required name="receiver">
                        {% for s in form.receiver %}
                            {{ s }}
                        {% endfor %}
                    </select></td>
                    <td><label for="subject">گیرنده </label></td>
                </tr>
                <tr>

                    <td>{{ form.text }}</td>
                    <td><label for="txt">متن </label></td>
                </tr>


                </tbody>
            </table>
            <input type="submit" class="btn"  value="ارسال">
        </form>



</div>

{% endblock %}




