{% extends 'manager/managerBase.html' %}

{% block title %}گزارشات پرداخت ها{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
    function f(){alert("درخواست رزرو با موفقیت تایید گردید")}
{% endblock %}

{% block content %}

<div class="main">
    <h5>پرداخت ها</h5>

<form action="" method="post">
    {% csrf_token %}
    <label for="id_unit">شماره واحد</label>
    <input type="number" name="unit" id="id_unit" class="from" style="width: 40px;">
    <select class="from" name="choose"  placeholder="به ترتیب" style="width: 90px;">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
    <input type="date" name="startDate" id="id_startDate" class="from">
    <label for="id_finishDate">تا تاریخ</label>
    <input type="date" name="finishDate" id="id_finishDate" class="from">
    <input type="submit" class="btn"  value="نمایش">
</form>

    <table>
        <tr>
            <th>مبلغ</th>
            <th>زمان و تاریخ پرداخت</th>
            <th>شماره قبض</th>
            <th>شماره واحد</th>
            <th>شماره بلوک</th>
            <th>شماره</th>
        </tr>
        {% for report in bank_reports %}
            <tr>
                <td>{{ report.amount }}</td>
                <td>{{ report.date|date:"Y / m / d" }}</td>
                <td>{{ report.receipt_id }}</td>
                <td>{{ report.resident.unit_id }}</td>
                <td>{{ report.resident.unit.block_id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}

        {% for report in account_reports %}
            <tr>
                <td>{{ report.amount }}</td>
                <td>{{ report.date|date:"Y / m / d" }}</td>
                <td>{{ report.receipt_id }}</td>
                <td>{{ report.account.resident.unit_id }}</td>
                <td>{{ report.account.resident.unit.block_id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}

    </table>

    <a href="javascript:void(0)" class="btn"><img src="../../static/images/printer.png" title="چاپ" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../static/images/save.png" title="ذخیره" class="linkImg2"></a>

</div>

{% endblock %}
