{% extends 'manager/managerBase.html' %}

{% block title %}گزارشات پرداخت ها{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}

function f(){alert("درخواست رزرو با موفقیت تایید گردید")}
    function g(){alert("درخواست رزرو با موفقیت رد گردید")}
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
    function save(filename, divName) {
  var el = document.createElement('a');
  el.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(document.getElementById(divName).innerHTML));
  el.setAttribute('download', filename);
  el.style.display = 'none';
  document.body.appendChild(el);
  el.click();
  document.body.removeChild(el);
}

{% endblock %}

{% block content %}

<div class="main">
    <h5>پرداخت ها</h5>

<form action="" method="post" style="direction:rtl;">
    {% csrf_token %}
    <label for="id_unit">شماره واحد</label>
    <input type="number" name="unit" id="id_unit" class="from" style="width: 60px;">
    <select class="from" name="choose"  placeholder="به ترتیب" style="width: 100px;">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
    <input type="date" name="startDate" id="id_startDate" class="from" style="width: 200px;">
    <label for="id_finishDate">تا تاریخ</label>
    <input type="date" name="finishDate" id="id_finishDate" class="from" style="width: 200px;">
    <input type="submit" class="btn"  value="نمایش">
</form>
<div id="printableArea">
    <table>
        <tr>
            <th>مبلغ</th>
            <th>زمان و تاریخ پرداخت</th>
            <th>شماره قبض</th>
            <th>شماره واحد</th>
            <th>شماره بلوک</th>
            <th>شماره</th>
        </tr>
        {% for report in bank_reports %}
            <tr>
                <td>{{ report.amount }}</td>
                <td>{{ report.date|date:"Y / m / d" }}</td>
                <td>{{ report.receipt_id }}</td>
                <td>{{ report.resident.unit_id }}</td>
                <td>{{ report.resident.unit.block_id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}

        {% for report in account_reports %}
            <tr>
                <td>{{ report.amount }}</td>
                <td>{{ report.date|date:"Y / m / d" }}</td>
                <td>{{ report.receipt_id }}</td>
                <td>{{ report.account.resident.unit_id }}</td>
                <td>{{ report.account.resident.unit.block_id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}

    </table>
</div>
    <a href="javascript:void(0)" onclick="printDiv('printableArea')" class="btn"><img src="../../static/images/printer.png" title="چاپ" class="linkImg1"></a>
    <a href="javascript:void(0)" onclick="save('reservesCheck.html', 'printableArea')" class="btn"><img src="../../static/images/save.png" title="ذخیره" class="linkImg2"></a>

</div>

{% endblock %}
