{% extends 'manager/managerBase.html' %}

{% block title %}مشاهده درخواست های پشتیبانی{% endblock %}

{% block script %}
    function f(){alert("درخواست مورد نظر حذف شد")}
{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/reqStyles.css"/>{% endblock %}


{% block content %}

<div class="main">
    <h5>درخواست های پشتیبانی</h5>
<form action="" method="post">
    {% csrf_token %}
    <select class="from" name="choose"  placeholder="به ترتیب" style="width: 120px;">
                    <option value="W">در صف انتظار</option>
                    <option value="C">بررسی شده</option>
                </select></td>
    <input type="submit" class="btn"  value="نمایش">
</form>

    <table>
  <tr>

      <th>حذف</th>
      <th>مشاهده</th>
      <th>وضعیت</th>
      <th>موضوع</th>
      <th>عنوان</th>
      <th>شماره</th>
      <th>ردیف</th>
  </tr>

        {% for request in requests %}
            <tr>
                <td><a href="{% url 'site:manager:delete_request' request.id %}"><img src="../../static/images/delete.png" title="حذف" class="linkImg" onclick="f()"></a> </td>
                <td><a href="{% url 'site:manager:viewRequest' request.id %}"><img src="../../static/images/view.png" title="مشاهده" class="linkImg"></a> </td>

                <td>{{ request.get_state_display }}</td>
                <td>{{ request.get_subject_display}}</td>
                <td>{{ request.title }}</td>
                <td>{{ request.id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}


</table>

    <button type="button" class="btn" onclick="window.location.href='{% url 'site:manager:addRequest' %}'">اضافه کردن درخواست</button>

</div>

{% endblock %}
