{% extends 'manager/managerBase.html' %}

{% block title %}درخواست های رزرو{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
    function f(){alert("درخواست رزرو با موفقیت تایید گردید")}
{% endblock %}

{% block content %}
<div class="main">
    <h5>درخواست های رزرو</h5>

<form action="" method="post">
    {% csrf_token %}
    <select class="from" name="choose"  placeholder="به ترتیب">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
    <input type="date" name="startDate" id="id_startDate" class="from">
    <label for="id_finishDate">تا تاریخ</label>
    <input type="date" name="finishDate" id="id_finishDate" class="from">
    <input type="submit" class="btn"  value="نمایش">
</form>


    <table>
        <tr>
            <th style="width: 5%"> </th>
            <th style="width: 10%">مبلغ به ریال </th>
            <th style="width: 10%">وضعیت</th>
            <th style="width: 5%">مدت</th>
            <th style="width: 15%">زمان و تاریخ ایجاد</th>
            <th style="width: 15%">زمان و تاریخ استفاده</th>
            <th style="width: 10%">امکان</th>
            <th style="width: 10%">شماره واحد</th>
            <th style="width: 10%">شماره بلوک</th>
            <th style="width: 10%">ردیف</th>
        </tr>


        {% for reserve in reserves %}
            <tr>
                <td><a href="{% url 'site:manager:accept_reserve' reserve.reserve_date %}" onclick="f()">تایید</a></td>
                <td>{{ reserve.cost }}</td>
                <td>{{ reserve.get_state_display }}</td>
                <td>{{ reserve.duration }}</td>
                <td>{{ reserve.reserve_date|date:"Y / m / d" }}</td>
                <td>{{ reserve.use_date|date:"Y / m / d" }}</td>
                <td>{{ reserve.facility.get_type_display }}</td>
                <td>{{ reserve.resident.unit.block_id }}</td>
                <td>{{ reserve.resident.unit_id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}

    </table>

    <a href="javascript:void(0)" class="btn"><img src="../../static/images/printer.png" title="چاپ" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../static/images/save.png" title="ذخیره" class="linkImg2"></a>

</div>
{% endblock %}
