{% extends 'manager/managerBase.html' %}

{% block title %}درخواست های رزرو{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
    function f(){alert("درخواست رزرو با موفقیت تایید گردید")}
    function g(){alert("درخواست رزرو با موفقیت رد گردید")}
    function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
    }
    function save(filename, divName) {
    var el = document.createElement('a');
    el.setAttribute('href', 'data:text/html;charset=utf-8,' +
    encodeURIComponent(document.getElementById(divName).innerHTML));
    el.setAttribute('download', filename);
    el.style.display = 'none';
    document.body.appendChild(el);
    el.click();
    document.body.removeChild(el);
    }
{% endblock %}

{% block content %}
<div class="main">
    <h5>درخواست های رزرو</h5>

    <form action="" method="post" style="direction:rtl; ">
    {% csrf_token %}
        <select class="from" name="choose" placeholder="به ترتیب" style="width: 100px;">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
        <input type="date" name="startDate" id="id_startDate" class="from" style="width: 200px;">
    <label for="id_finishDate">تا تاریخ</label>
        <input type="date" name="finishDate" id="id_finishDate" class="from" style="width: 200px;">
    <input type="submit" class="btn"  value="نمایش">
</form>

    <div id="printableArea">
    <table>
        <tr>
            <th style="width: 5%"> </th>
            <th style="width: 10%">مبلغ به ریال </th>
            <th style="width: 10%">وضعیت</th>
            <th style="width: 15%">زمان و تاریخ ایجاد</th>
            <th style="width: 15%">زمان و تاریخ پایان استفاده</th>
            <th style="width: 15%">زمان و تاریخ شروع استفاده</th>
            <th style="width: 10%">امکان</th>
            <th style="width: 10%">شماره واحد</th>
            <th style="width: 10%">شماره بلوک</th>
            <th style="width: 10%">ردیف</th>
        </tr>


        {% for reserve in reserves %}
            <tr>
                {% if reserve.state == 'R' %}
                    <td><a href="{% url 'site:manager:accept_reserve' reserve.reserve_date %}" onclick="f()">تایید</a>
                    </td>
                {% elif reserve.state == 'A' %}
                    <td><a href="{% url 'site:manager:reject_reserve' reserve.reserve_date %}" onclick="g()">رد</a></td>
                {% else %}
                    <td>
                        <a href="{% url 'site:manager:accept_reserve' reserve.reserve_date %}" onclick="f()">تایید</a>
                        <a href="{% url 'site:manager:reject_reserve' reserve.reserve_date %}" onclick="g()">رد</a>
                    </td>
                {% endif %}
                <td>{{ reserve.cost }}</td>
                <td>{{ reserve.get_state_display }}</td>
                <td>{{ reserve.reserve_date|date:"Y / m / d" }}</td>
                <td>{{ reserve.use_finishDate|date:"Y / m / d" }}</td>
                <td>{{ reserve.use_startDate|date:"Y / m / d" }}</td>
                <td>{{ reserve.facility.type }}</td>
                <td>{{ reserve.resident.unit.block_id }}</td>
                <td>{{ reserve.resident.unit_id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}

    </table>
    </div>

    <a href="javascript:void(0)" onclick="printDiv('printableArea')" class="btn"><img
            src="../../static/images/printer.png" title="چاپ" class="linkImg1"></a>
    <a href="javascript:void(0)" onclick="save('reservesCheck.html', 'printableArea')" class="btn"><img
            src="../../static/images/save.png" title="ذخیره" class="linkImg2"></a>

</div>
{% endblock %}
