<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>بورد</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>
</head>
<body>
<div class="container">

    <img class="cover" src="../../static/images/cover.jpg">
    <div class="topright"><img class="img-circle" src="../../static/images/user_profile_female.jpg">
        <p>زهرا بابایی</p></div>
    <div class="topleft" style="display:grid; z-index:5" >             <a href="select_contact.html"><img src="../../static/images/message.svg" style="height:50px;width:50px;"/></a>
        <a href="../../MySite/templates/index.html">خروج</a>
        <p>96/5/5</p>

    </div>
    <div class="center"><p style="font-size: 150%; padding: 5px; font-weight: bold;">سامانه مدیریت ساختمان آس </p>
    </div>

</div>
<div class="menu">
    <ul>
        <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">ویرایش اطلاعات</a>
                <div class="dropdown-content">
                    <a href="edit_profile.html">اطلاعات حساب</a>
                </div>
            </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">اطلاعیه ها</a>
            <div class="dropdown-content">
                <a href="board.html">بورد</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">گزارشات</a>
            <div class="dropdown-content">
                <a href="payingReports_user.html">پرداخت ها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">رزرو</a>
            <div class="dropdown-content">
                <a href="reserve.html">ثبت رزرو</a>
                <a href="myReserves.html">وضعیت رزرو ها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">امور مالی</a>
            <div class="dropdown-content">
                <a href="#">افزایش اعتبار</a>
                <a href="bills.html">پرداخت قبض</a>
            </div>
        </li>

    </ul>
</div>

<div class="main">
    <h5>بورد</h5>


<select class="from" name="choose"  placeholder="به ترتیب">
                    <option value="جدیدترین">جدیدترین</option>
                    <option value="قدیمی ترین">قدیمی ترین</option>
                </select>
      <input type="date" name="time" class="from">
از تاریخ
    <input type="date" name="time" class="from">
  تا تاریخ


    <table>
        <tr>
            <th>مبلغ</th>
            <th>توضیحات</th>
            <th>عنوان</th>
            <th>زمان و تاریخ</th>
            <th>نوع</th>
            <th>شماره</th>
            <th>ردیف</th>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>


    </table>

    <a href="javascript:void(0)" class="btn"><img src="../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../static/images/save.png" class="linkImg2"></a>

</div>


</body>
</html>