{% extends 'residentBase.html' %}

{% block title %}ویرایش اطلاعات حساب{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="main">
    <h5> ویرایش اطلاعات ساکن</h5>
   <form action="Welcome.html" method="post">
        <table class="tbl" border="0" align="center">
            <tbody>

			<tr>
               <td><input type="text" name="first_name" id="first_name" value="نام قبلی "></td>
                <td><label for="first_name">نام حقوقی </label></td>
            </tr>
			<tr>
               <td><input type="text" name="last_name" id="last_name"  value="نام خانوادگی قبلی "></td>
                <td><label for="last_name">نام خانوادگی </label></td>
            </tr>
			<tr>
               <td><input type="text" name="email" id="email" value="ایمیل " ></td>
                <td><label for="email">ایمیل </label></td>
            </tr>
			<tr>
               <td><input type="text" name="username" id="username" value="نام کاربری قبلی "></td>
                <td><label for="username">نام کاربری </label></td>
            </tr>
            <tr>
               <td><input type="password" name="password" id="password" value="رمز قبلی "></td>
                <td><label for="password">رمز </label></td>
            </tr>
			<tr>
               <td><input type="password" name="password" id="passworda" value="رمز قبلی "></td>
                <td><label for="passworda">تایید رمز </label></td>
            </tr>

            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ثبت</button>

</div>

{% endblock %}




