{% extends 'residentBase.html' %}

{% block title %}رزروهای من{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
function f(){alert("درخواست رزرو با موفقیت تایید گردید")}
{% endblock %}

{% block content %}

<div class="main">
    <h5>درخواست های رزرو من</h5>

<select class="from" name="choose"  placeholder="به ترتیب">
                    <option value="جدیدترین">جدیدترین</option>
                    <option value="قدیمی ترین">قدیمی ترین</option>
                </select></td>
      <input type="date" name="time" class="from">
از تاریخ
    <input type="date" name="time" class="from">
  تا تاریخ


    <table>
        <tr>
            <th>مبلغ</th>
            <th>وضعیت</th>
            <th>مدت</th>
            <th>زمان و تاریخ ایجاد</th>
            <th>زمان و تاریخ استفاده</th>
            <th>امکان</th>
            <th>ردیف</th>
        </tr>
        <tr>
            <td>1000000ریال</td>
            <td>تایید شده</td>
            <td>1:30 </td>
            <td>96/4/19 _ 20:23 </td>
            <td>96/4/25 _ 16:00 </td>
            <td>استخر</td>
            <td>1 </td>
        </tr>

        <tr>
            <td>1500000ریال</td>
            <td>رد شده</td>
            <td>2:00 </td>
            <td>96/4/19 _ 20:23 </td>
            <td>96/4/25 _ 16:00 </td>
            <td>سالن همایش</td>
            <td>1 </td>
        </tr>

    </table>

    <button type="button" class="btn" onclick="window.location.href='reserve.html'">اضافه کردن درخواست رزرو جدید</button>

</div>

{% endblock %}
