<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>رزروهای من</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>
    <script>function f(){alert("درخواست رزرو با موفقیت تایید گردید")}</script>
</head>
<body>
<div class="container">

    <img class="cover" src="../../static/images/cover.jpg">
    <div class="topright"><img class="img-circle" src="../../static/images/user_profile_female.jpg">
        <p>زهرا بابایی</p></div>
    <div class="topleft" style="display:grid; z-index:5" >             <a href="select_contact.html"><img src="../../static/images/message.svg" style="height:50px;width:50px;"/></a>
        <a href="../../MySite/templates/index.html">خروج</a>
        <p>96/5/5</p>

    </div>
    <div class="center"><p style="font-size: 150%; padding: 5px; font-weight: bold;">سامانه مدیریت ساختمان آس </p>
    </div>

</div>
<div class="menu">
        <ul>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">ویرایش اطلاعات</a>
                <div class="dropdown-content">
                    <a href="edit_profile.html">اطلاعات حساب</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">اطلاعیه ها</a>
                <div class="dropdown-content">
                    <a href="board.html">بورد</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">گزارشات</a>
                <div class="dropdown-content">
                    <a href="payingReports_user.html">پرداخت ها</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">رزرو</a>
                <div class="dropdown-content">
                    <a href="reserve.html">ثبت رزرو</a>
                    <a href="myReserves.html">وضعیت رزرو ها</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">امور مالی</a>
                <div class="dropdown-content">
                    <a href="#">افزایش اعتبار</a>
                    <a href="bills.html">پرداخت قبض</a>
                </div>
            </li>

        </ul>
    </div>
<div class="main">
    <h5>درخواست های رزرو من</h5>

<select class="from" name="choose"  placeholder="به ترتیب">
                    <option value="جدیدترین">جدیدترین</option>
                    <option value="قدیمی ترین">قدیمی ترین</option>
                </select></td>
      <input type="date" name="time" class="from">
از تاریخ
    <input type="date" name="time" class="from">
  تا تاریخ


    <table>
        <tr>
            <th>مبلغ</th>
            <th>وضعیت</th>
            <th>مدت</th>
            <th>زمان و تاریخ ایجاد</th>
            <th>زمان و تاریخ استفاده</th>
            <th>امکان</th>
            <th>ردیف</th>
        </tr>
        <tr>
            <td>1000000ریال</td>
            <td>تایید شده</td>
            <td>1:30 </td>
            <td>96/4/19 _ 20:23 </td>
            <td>96/4/25 _ 16:00 </td>
            <td>استخر</td>
            <td>1 </td>
        </tr>

        <tr>
            <td>1500000ریال</td>
            <td>رد شده</td>
            <td>2:00 </td>
            <td>96/4/19 _ 20:23 </td>
            <td>96/4/25 _ 16:00 </td>
            <td>سالن همایش</td>
            <td>1 </td>
        </tr>

    </table>

    <button type="button" class="btn" onclick="window.location.href='reserve.html'">اضافه کردن درخواست رزرو جدید</button>

</div>


</body>
</html>
</html>