{% extends 'residentBase.html' %}

{% block title %}ثبت درخواست{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
function f(){alert("درخواست رزرو با موفقیت ثیت گردید")}
{% endblock %}

{% block content %}

<div class="main">
    <h5>رزرو امکانات</h5>
    <form action="Welcome.html" method="post">{% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td><select id="facility" name="facility">
                    <option value="استخر">استخر</option>
                    <option value="آمفی تئاتر">آمفی تئاتر</option>
                    <option value="سالن ورزشی"></option>
                    <option value="آلاچیق">آلاچیق</option>
                </select></td>
                <td><label for="facility">امکان </label></td>
            </tr>

            <tr>

                <td><input type="datetime-local" name="time" id="time"></td>
                <td><label for="time">زمان و تاریخ استفاده</label></td>
            </tr>

            <tr>

                <td><input type="time" name="dur" id="dur"></td>
                <td><label for="dur">مدت استفاده </label></td>
            </tr>


            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ثبت</button>

</div>

{% endblock %}



