{% extends 'residentBase.html' %}

{% block title %}اضافه کردن همسایه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
function f(){ window.location.href="message.html";}
{% endblock %}

{% block content %}
<div class="main">
    <h5>وارد کردن مخاطب پیام</h5>
    <form action="Welcome.html" method="post">{% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td><input type="number" name="block_number" id="block_number" min="1" max="10"></td>
                <td><label for="block_number">شماره بلوک </label></td>
            </tr>

            <tr>

               <td><input type="number" name="unit_number" id="unit_number" min="1" max="5"></td>
                <td><label for="unit_number">شماره واحد </label></td>
            </tr>


            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ورود به صفحه ارسال پیام</button>

</div>
{% endblock %}


