<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>مشاهده قبض</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>
</head>
<body>
<div class="container">

    <img class="cover" src="../../static/images/cover.jpg">
    <div class="topright"><img class="img-circle" src="../../static/images/user_profile_female.jpg">
        <p>زهرا بابایی</p></div>
    <div class="topleft" style="display:grid; z-index:5" >             <a href="select_contact.html"><img src="../../static/images/message.svg" style="height:50px;width:50px;"/></a>
        <a href="../../MySite/templates/index.html">خروج</a>
        <p>96/5/5</p>

    </div>
    <div class="center"><p style="font-size: 150%; padding: 5px; font-weight: bold;">سامانه مدیریت ساختمان آس </p>
    </div>

</div>
<div class="menu">
    <ul>
        <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">ویرایش اطلاعات</a>
                <div class="dropdown-content">
                    <a href="edit_profile.html">اطلاعات حساب</a>
                </div>
            </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">اطلاعیه ها</a>
            <div class="dropdown-content">
                <a href="board.html">بورد</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">گزارشات</a>
            <div class="dropdown-content">
                <a href="payingReports_user.html">پرداخت ها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">رزرو</a>
            <div class="dropdown-content">
                <a href="reserve.html">ثبت رزرو</a>
                <a href="myReserves.html">وضعیت رزرو ها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">امور مالی</a>
            <div class="dropdown-content">
                <a href="#">افزایش اعتبار</a>
                <a href="bills.html">پرداخت قبض</a>
            </div>
        </li>

    </ul>
</div>

<div class="main">
    <h5>قبض شماره 23117</h5>

    <table>
        <tr>
            <th>مبلغ</th>
            <th>زمان و تاریخ</th>
            <th>توضیحات</th>
            <th>نوع</th>
            <th>شماره</th>
        </tr>
        <tr>
            <td>ریال250000</td>
            <td>96/4/27</td>
            <td>تعمیر سیستم آبیاری چمن ها</td>
            <td>تعمیرات</td>
            <td>1</td>
        </tr>
        <tr>
            <td>ریال150000</td>
            <td>96/4/29</td>
            <td>گل کاری باغچه ها</td>
            <td>باغبانی</td>
            <td>2</td>
        </tr>
        <tr>
            <td>ریال50000</td>
            <td>96/5/1</td>
            <td>رنگ آمیزی درب پارکینگ</td>
            <td>تعمیرات</td>
            <td>3</td>
        </tr>

        <tr>
            <td>ریال450000</td>
            <td>مجموع</td>
            <td>  </td>
            <td> </td>
            <td> </td>
        </tr>

    </table>
    <button type="button" class="btn" onclick="f()">پرداخت</button>
    <br><br><br>
    <a href="javascript:void(0)" class="btn"><img src="../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../static/images/save.png" class="linkImg2"></a>

</div>


</body>
</html>