{% extends 'resident/residentBase.html' %}

{% block title %}قبوض{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="main">
    <h5>قبوض</h5>


<form action="" method="post">
    {% csrf_token %}
    <select class="from" name="choose"  placeholder="به ترتیب">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
    <input type="date" name="startDate" id="id_startDate" class="from">
    <label for="id_finishDate">تا تاریخ</label>
    <input type="date" name="finishDate" id="id_finishDate" class="from">
    <input type="submit" class="btn"  value="نمایش">
</form>



    <table>
        <tr>
            <th>پرداخت</th>
            <th>مشاهده</th>
            <th>مبلغ</th>
            <th>زمان و تاریخ</th>
            <th>شماره قبض</th>
            <th>شماره</th>
        </tr>
        {% for receipt in receipts %}
            <tr>
                <td><a href="{% url 'site:resident:payReceipt' receipt.id %}" ><img src="../../../static/images/pay.png" class="linkImg1"></a></td>
                <td><a href="{% url 'site:resident:viewBill' receipt.id %}" ><img src="../../../static/images/view.png" class="linkImg1"></a></td>
                <td>{{ receipt.cost }}</td>
                <td>{{ receipt.date|date:"Y / m / d" }}</td>
                <td>{{ receipt.id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}


    </table>



    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/save.png" class="linkImg2"></a>

</div>

{% endblock %}
