{% extends 'resident/residentBase.html' %}

{% block title %}بورد{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="main">
    <h5>بورد</h5>


<select class="from" name="choose"  placeholder="به ترتیب">
                    <option value="جدیدترین">جدیدترین</option>
                    <option value="قدیمی ترین">قدیمی ترین</option>
                </select>
      <input type="date" name="time" class="from">
از تاریخ
    <input type="date" name="time" class="from">
  تا تاریخ


    <table>
        <tr>
            <th>مبلغ</th>
            <th>توضیحات</th>
            <th>عنوان</th>
            <th>زمان و تاریخ</th>
            <th>نوع</th>
            <th>شماره</th>
            <th>ردیف</th>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>


    </table>

    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/save.png" class="linkImg2"></a>

</div>

{% endblock %}

