{% extends 'resident/residentBase.html' %}

{% block title %}بورد{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="main">
    <h5>بورد</h5>


<form action="" method="post">
    {% csrf_token %}
    <select class="from" name="choose"  placeholder="به ترتیب">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
    <input type="date" name="startDate" id="id_startDate" class="from">
    <label for="id_finishDate">تا تاریخ</label>
    <input type="date" name="finishDate" id="id_finishDate" class="from">
    <input type="submit" class="btn"  value="نمایش">
</form>



    <table>
        <tr>
            <th>توضیحات</th>
            <th>عنوان</th>
            <th>زمان و تاریخ</th>
            <th>شماره</th>
            <th>ردیف</th>
        </tr>
        {% for news in newsSet %}
            <tr>
                <td>{{ news.description }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.date|date:"Y / m / d" }}</td>
                <td>{{ news.id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}


    </table>
    <table>
        <tr>
            <th>مبلغ</th>
            <th>توضیحات</th>
            <th>زمان و تاریخ</th>
            <th>شماره</th>
            <th>ردیف</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event.cost }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.date|date:"Y / m / d" }}</td>
                <td>{{ event.id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}


    </table>
    <br><br><br>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/save.png" class="linkImg2"></a>

</div>

{% endblock %}

