{% extends 'resident/residentBase.html' %}

{% block title %}اخبار{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
    function f(){alert("درخواست رزرو با موفقیت تایید گردید")}
    function g(){alert("درخواست رزرو با موفقیت رد گردید")}
    function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
    }
    function save(filename, divName) {
    var el = document.createElement('a');
    el.setAttribute('href', 'data:text/html;charset=utf-8,' +
    encodeURIComponent(document.getElementById(divName).innerHTML));
    el.setAttribute('download', filename);
    el.style.display = 'none';
    document.body.appendChild(el);
    el.click();
    document.body.removeChild(el);
    }
{% endblock %}

{% block content %}

<div class="main">
    <h5>اخبار</h5>


    <form action="" method="post" style="direction:rtl;">
    {% csrf_token %}
        <select class="from" name="choose" placeholder="به ترتیب" style="width:100px;">
        <option value="قدیمی ترین">قدیمی ترین</option>
        <option value="جدیدترین">جدیدترین</option>
    </select>
    <label for="id_startDate">از تاریخ</label>
        <input type="date" name="startDate" id="id_startDate" class="from" style="width:200px;">
    <label for="id_finishDate">تا تاریخ</label>
        <input type="date" name="finishDate" id="id_finishDate" class="from" style="width:200px;">
    <input type="submit" class="btn"  value="نمایش">
</form>


    <div id="printableArea">
    <table>
        <tr>
            <th>توضیحات</th>
            <th>عنوان</th>
            <th>زمان و تاریخ</th>
            <th>شماره</th>
            <th>ردیف</th>
        </tr>
        {% for news in newsSet %}
            <tr>
                <td>{{ news.description }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.date|date:"Y / m / d" }}</td>
                <td>{{ news.id }}</td>
                <td>
                    {{ forloop.counter }}
                </td>
            </tr>
        {% endfor %}


    </table>
    </div>

    <a href="javascript:void(0)" onclick="printDiv('printableArea')" class="btn"><img
            src="../../static/images/printer.png" title="چاپ" class="linkImg1"></a>
    <a href="javascript:void(0)" onclick="save('reservesCheck.html', 'printableArea')" class="btn"><img
            src="../../static/images/save.png" title="ذخیره" class="linkImg2"></a>

</div>

{% endblock %}

