{% extends 'resident/residentBase.html' %}

{% block title %}ثبت درخواست{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
function f(){alert("درخواست رزرو با موفقیت ثیت گردید")}
{% endblock %}

{% block content %}

<div class="main">
    <h5>رزرو امکانات</h5>
    <form action="" method="post">
        {% csrf_token %}
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td><select id="facility" required name="facility" style="width:150px;">
                        {% for f in form.facility %}
                            {{ f }}
                        {% endfor %}
                    </select></td>
                <td><label for="facility">امکان </label></td>
            </tr>

            <tr>

                <td><input type="date" name="use_startDate_0" id="id_use_startDate_0"style="width:200px;">
                <input type="time" name="use_startDate_1" id="id_use_startDate_1"style="width:150px;">
                </td>
                <td><label for="time">زمان و تاریخ شروع استفاده</label></td>
            </tr>

            <tr>

                <td>
                    <input type="date" name="use_finishDate_0" id="id_use_finishDate_0"style="width:200px;">
                    <input type="time" name="use_finishDate_1" id="id_use_finishDate_1"style="width:150px;">
{#                    <input class="dur" type="number" name="duration_minute" id="duration_minute">#}
{#                    <span class="semicolon">:</span>#}
{#                    <input class="dur" type="number" name="duration_time" id="duration_time">#}
                </td>

                <td><label for="dur">زمان و تاریخ پایان استفاده</label></td>
            </tr>


            </tbody>
        </table>
    <button type="submit" class="btn" onclick="f()">ثبت</button>
    </form>



</div>

{% endblock %}



