{% extends 'resident/residentBase.html' %}

{% block title %}اضافه کردن همسایه{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
function f(){ window.location.href="message.html";}
{% endblock %}

{% block content %}
<div class="main">
    <h5>دعوت نامه های من</h5>


    <table>
        <tr>
            <th style="width:60%; text-align:center;">محتوا</th>
            <th>دعوت شونده</th>
            <th>دعوت کننده</th>
        </tr>
        {% for m in messages %}
            <tr>
                <td>{{ m.text }}</td>
                <td>{{ m.receiver }}</td>
                <td>{{ m.sender }}</td>
            </tr>
        {% endfor %}


    </table>

    <button type="button" class="btn" onclick="window.location.href='{% url 'site:resident:message' %}' ">ارسال دعوت
        نامه
        جدید
    </button>

</div>
{% endblock %}


