{% extends 'resident/residentBase.html' %}

{% block title %}تراکنش موفق{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

    <div class="main">
        <p style="color: green;">افزایش اعتبار با موفقیت صورت گرفت</p>
        <p style="color: #1E656D; font-weight: bold;">موجودي شما: {{acount.cash}} ريال </p>
        <p>کد مرجع: 47852997341</p>


    </div>

{% endblock %}



