{% extends 'resident/residentBase.html' %}

{% block title %}مشاهده قبض{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="main">
    <h5>قبض شماره {{ receipt.id }}</h5>

    <table>
        <tr>
            <th>مبلغ</th>
            <th>زمان و تاریخ</th>
            <th>توضیحات</th>
            <th>نوع</th>
            <th>شماره</th>
        </tr>
        <tr>
            <td>ریال250000</td>
            <td>96/4/27</td>
            <td>تعمیر سیستم آبیاری چمن ها</td>
            <td>تعمیرات</td>
            <td>1</td>
        </tr>
        <tr>
            <td>ریال150000</td>
            <td>96/4/29</td>
            <td>گل کاری باغچه ها</td>
            <td>باغبانی</td>
            <td>2</td>
        </tr>
        <tr>
            <td>ریال50000</td>
            <td>96/5/1</td>
            <td>رنگ آمیزی درب پارکینگ</td>
            <td>تعمیرات</td>
            <td>3</td>
        </tr>

        <tr>
            <td>ریال450000</td>
            <td>مجموع</td>
            <td>  </td>
            <td> </td>
            <td> </td>
        </tr>

    </table>
    <button type="button" class="btn" onclick="f()">پرداخت</button>
    <br><br><br>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/save.png" class="linkImg2"></a>

</div>

{% endblock %}
