{% extends 'resident/residentBase.html' %}

{% block title %}مشاهده قبض{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
{% endblock %}

{% block content %}

<div class="main">
    <h5>قبض شماره {{ receipt.id }}</h5>
<table>
        <tr>
            <th>مبلغ شما = (مبلغ
            * {{ receipt.resident.member_count }}) / {{ size }}</th>
            <th>مبلغ</th>
            <th>زمان و تاریخ</th>
            <th>توضیحات</th>
            <th>نوع</th>

        </tr>
        {% for event, eventCost in events %}
            <tr>
                <td>{{ eventCost}}</td>
                <td>{{ event.cost }}</td>
                <td>{{ event.date|date:"Y / m / d" }}</td>
                <td>{{ event.description }}</td>
                <td>رویداد</td>

            </tr>
        {% endfor %}
        {% for bill, billCost in bills %}
            <tr>
            <td>{{ billCost }}</td>
                <td>{{ bill.cost }}</td>
                <td>{{ bill.date|date:"Y / m / d" }}</td>
                <td>{{ bill.get_type_display }}</td>
                <td>قبض</td>

            </tr>
        {% endfor %}
        {% for reserve in reserves %}
            <tr>
                <td>{{ reserve.cost }}</td>
                <td>{{ reserve.cost }}</td>
                <td>{{ reserve.reserve_date|date:"Y / m / d" }}</td>
                <td>{{ reserve.facility.type }}</td>
                <td>رزرو</td>

            </tr>
        {% endfor %}
        <tr>
            <td>{{ receipt.cost }}</td>
            <td>مجموع</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


    </table>

    <button type="button" class="btn" onclick="f()">پرداخت</button>
    <br><br><br>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../../static/images/save.png" class="linkImg2"></a>

</div>

{% endblock %}
