@font-face {
  font-family: 'brandon';
  src:  url('../fonts/BRoya.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

.img-circle {
    border-radius: 50%;
    max-width: 100px;
    height: auto;
    position: relative;
}

.cover {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 10%;
    left: 5%;
    font-family: brandon;
    text-align: left;
    font-size: 22px;
}

.topleft a{
    display: inline-block;
    color: black;
    padding: 0px;
    text-decoration: none;
}

.topleft a:hover{
    color:gray;
}

.topright {
    position: absolute;
    top: 12%;
    right: 5%;
    font-size: 22px;
    font-family: brandon;

}

.topright p{
    padding: 0;
}

.center {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    font-family: brandon;
    color: white;
    color: black;
}

.menu {
    text-align : right;
    font-family: brandon;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5BC8AC;
}

li {
    float: right;
}

.notDropdown{
   float: right;
   display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #F18D9E;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #98DBC6}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
   padding: 5%;
   padding-bottom: 10%;
   margin: 5%;
   border: solid 2px;
   border-color: gray;
   font-family: brandon;
   text-align: right;
}

.main a {
  display: inline-block;
    color: #F18D9E;
    padding: 0px;
    text-decoration: none;
}
.main a:hover{
color: gray
}

table {

    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

th, td {
    text-align: right;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #E6D72A;
    color: white;
}

.linkImg1{
  width: 50px;
}

.linkImg2{
  width: 55px;
}

.btn{
    float: left;
    margin: 35px;
}

.from{
    margin: 10px;
}

.btn[type=button]{
  background-color:#98DBC6;
   border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    margin: 35px;
}