@font-face {
  font-family: 'brandon';
  src: url("../../fonts/BRoya.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
*, *:before, *:after {
  box-sizing: inherit; }

* {
  font-family: brandon; }

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0; }
  html body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    display: flex;
    position: relative;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-flex-align: center;
    -moz-flex-align: center;
    -ms-flex-align: center;
    -o-flex-align: center;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex; }
    html body .nav {
      text-align: center; }
    html body .navbar {
      background-image: linear-gradient(to bottom, #00293E 0, #00293E 100%); }
      html body .navbar li:hover {
        background-image: linear-gradient(to bottom, #F62A00 0, #F62A00 100%); }
    html body .container-fluid {
      width: 100%; }
    html body .hero {
      background-image: url("../../images/cover.jpg");
      background-attachment: fixed;
      background-repeat: inherit;
      background-size: inherit; }
      html body .hero .inner {
        height: 100vh;
        background: rgba(0, 0, 0, 0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat; }
        html body .hero .inner h1 {
          color: #E6D72A;
          margin: 0 !important; }
    html body .hero, html body .content {
      z-index: 1;
      margin-top: 20px;
      text-align: center;
      position: relative;
      width: 100%;
      height: auto; }
      html body .hero .myHead, html body .content .myHead {
        float: none;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 150%; }
      html body .hero .manual, html body .content .manual {
        padding: 3%; }
        html body .hero .manual img, html body .content .manual img {
          max-width: 60%; }
        html body .hero .manual .discreption, html body .content .manual .discreption {
          font-size: 150%;
          vertical-align: middle;
          margin: auto; }
      @media screen and (max-height: 735px) {
        html body .hero, html body .content {
          top: 1350px; } }
      html body .hero .inner, html body .content .inner {
        position: relative;
        min-height: 200px; }
        html body .hero .inner .copy, html body .content .inner .copy {
          position: absolute;
          height: auto;
          width: 100%;
          top: 60%; }
          html body .hero .inner .copy h1, html body .content .inner .copy h1 {
            margin: 0;
            font-family: 'Roboto Slab', serif;
            font-weight: 400;
            font-size: 32px;
            padding: 0 20px; }
        html body .hero .inner .copy.row, html body .content .inner .copy.row {
          position: relative;
          height: auto; }
      html body .hero .column, html body .content .column {
        position: relative;
        margin: 7px 0;
        min-height: 200px; }
        html body .hero .column img, html body .content .column img {
          border-radius: 50%;
          -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
          -moz-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
          -ms-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
          -o-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
          -webkit-transition: all 0.35s ease-in-out;
          -moz-transition: all 0.35s ease-in-out;
          -ms-transition: all 0.35s ease-in-out;
          -o-transition: all 0.35s ease-in-out; }
      html body .hero .contact .well, html body .content .contact .well {
        width: 100%; }
        html body .hero .contact .well fieldset, html body .content .contact .well fieldset {
          margin: auto;
          float: none; }
        @media screen and (min-width: 800px) {
          html body .hero .contact .well, html body .content .contact .well {
            margin: 5px 25%; } }
    html body .glyphicon {
      font-family: 'Glyphicons Halflings' !important; }
    html body .input-group-addon:first-child {
      border: 1px solid #ccc;
      border-radius: 4px; }
  html .well {
    background-color: #F1F3CE;
    background-image: none; }
    html .well fieldset {
      direction: rtl;
      text-align: center; }
      html .well fieldset .form-group {
        margin-top: 8px;
        margin-bottom: 0; }
        html .well fieldset .form-group .btn {
          background-color: #F62A00;
          color: white;
          width: 50%; }
        html .well fieldset .form-group .btn.send {
          background-color: #1E656D; }
      html .well fieldset .inputGroupContainer input.form-control {
        text-align: right; }
      html .well fieldset .text-danger {
        text-align: center;
        line-height: 30px; }
      html .well fieldset .input-group-addon {
        background-color: #F1F3CE; }
      html .well fieldset .forgetButton {
        background-color: #F1F3CE;
        border: none; }
        html .well fieldset .forgetButton:hover {
          color: #F62A00; }
  html #footer {
    font-family: brandon;
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: #00293E;
    color: white;
    right: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    top: 100%;
    margin-top: 200%; }
  html .foot {
    font-size: 16px; }
  html .address {
    width: 250px;
    position: absolute;
    top: 6%;
    right: 2%;
    font-size: 18px;
    font-family: brandon;
    color: white;
    text-align: right; }
  html .logo {
    position: absolute;
    top: 20%;
    left: 5%;
    max-width: 100px; }

#signup, #login {
  z-index: 5;
  position: absolute;
  top: 100px;
  height: auto;
  min-width: 200px;
  width: 45%;
  max-width: 550px;
  margin: 0 auto;
  left: 30%;
  right: 30%;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px; }
  #signup .well, #login .well {
    margin: 0; }

@media screen and (max-width: 1000px) {
  #footer {
    display: none; } }

/*# sourceMappingURL=main.css.map */
