$main_color:  #00293E;
$second_color: #1E656D;
$third_color: #F1F3CE;
$forth_color: #F62A00;
$font_color: #white;

@font-face {
    font-family: 'brandon';
    src: url('../../fonts/BRoya.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '-o-' {
		#{$prefix}#{$prop}: $val;
	}
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    font-family: brandon;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    body {
        height: 100%;
        margin: 0;
        line-height: 1.5;
        display: flex;
        position: relative;
        @include prefix(align-items, center);
        @include prefix(flex-align, center);
        @include prefix(display, flex);
        .nav {
            text-align: center;
        }
        .navbar {
            background-image: linear-gradient(to bottom, $main_color 0, $main_color 100%);
            li:hover {
                background-image: linear-gradient(to bottom, $forth_color 0, $forth_color 100%);
            }
        }

        .container-fluid {
            width: 100%;

        }
        .hero {
            background-image: url("../../images/cover.jpg");
            background-attachment: fixed;
            background-repeat: inherit;
            background-size: inherit;
            .inner {
                height: 100vh;
                background: rgba(0, 0, 0, 0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
                h1 {
                    color: #E6D72A;
                    margin: 0 !important;
                }
            }

        }
        .hero, .content {
            z-index: 1;
            margin-top: 20px;
            text-align: center;
            position: relative;
            width: 100%;
            height: auto;
            .myHead{
                float: none;
                margin: auto;
                margin-top: 5%;
                margin-bottom: 5%;
                font-size: 150%;
            }
            .manual{
                padding: 3%;
                img{
                    max-width: 60%;
                }
                .discreption{
                    font-size: 150%;
                    vertical-align: middle;
                    margin: auto;
                }
            }
            @media screen and (max-height: 735px) {
                top: 4000px
            }
            .inner {
                position: relative;
                min-height: 200px;
                .copy {
                    position: absolute;
                    height: auto;
                    width: 100%;
                    top: 60%;

                    h1 {
                        margin: 0;
                        font-family: 'Roboto Slab', serif;
                        font-weight: 400;
                        font-size: 32px;
                        padding: 0 20px;
                    }
                }
                .copy.row {
                    position: relative;
                    height: auto;

                }
            }
            .column {
                position: relative;
                margin: 7px 0;
                min-height: 200px;
                img {
                    border-radius: 50%;
                    @include prefix(box-shadow, rgba(0, 0, 0, 0.2) 10px 10px 10px);
                    @include prefix(transition, all 0.35s ease-in-out);
                }
            }


            .contact {
                .well {

                    width: 100%;
                    fieldset{
                        margin: auto;
                        float: none;
                    }
                    @media screen and (min-width: 800px) {
                        margin: 5px 25%;
                    }
                }
            }
        }
        .glyphicon {
            font-family: 'Glyphicons Halflings' !important;
        }
        .input-group-addon:first-child {
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    .well {
        background-color: $third_color;
        background-image: none;
        fieldset {
            direction: rtl;
            text-align: center;
            .form-group {
                margin-top: 8px;
                margin-bottom: 0;
                .btn{
                    background-color: $forth_color;
                    color: white;
                    width: 50%;
                }
                .btn.send{
                    background-color: $second_color ;
                }
            }
            .inputGroupContainer input.form-control {
                text-align: right;
            }
            .text-danger {
                text-align: center;
                line-height: 30px;
            }
            .input-group-addon{
                background-color: $third_color;
            }
            .forgetButton{
                &:hover{
                    color: $forth_color;
                }
               background-color: $third_color;
                border: none;
            }
        }
    }
    #footer {
        font-family: brandon;
        text-align: center;
        width: 100%;
        height: 150px;
        background-color: $main_color;
        color: white;
        right: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        top: 100%;
        margin-top: 200%;
    }
    .foot {
        font-size: 16px;
    }
    .address {
        width: 250px;
        position: absolute;
        top: 6%;
        right: 2%;
        font-size: 18px;
        font-family: brandon;
        color: white;
        text-align: right;
    }

    .logo {
        position: absolute;
        top: 20%;
        left: 5%;
        max-width: 100px;
    }


}
#signup, #login {
    z-index: 5;
    position: absolute;
    //display: none;
    top:100px;
    height: auto;
    min-width: 200px;
    width: 45%;
    max-width: 550px;
    margin: 0 auto;
    left: 30%;
    right: 30%;
    background-color: white;
    border-radius: 5px;
    @include prefix(box-shadow, rgba(0, 0, 0, 0.2) 10px 10px 10px);
    .well{
        margin: 0;
    }
}

@media screen and (max-width: 1000px){
    #footer{
        display: none;
    }
}
