<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>حساب کاربری - مدیر</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/addReqStyle.css"/>
    <script>function f(){alert("همسایه با موفقیت اضافه شد"); window.location.href="editNeighbours.html";}</script>
</head>
<body>
<div class="container">

    <img class="cover" src="../../static/images/cover.jpg">
    <div class="topright"><img class="img-circle" src="../../static/images/user_profile_female.jpg">
        <p>زهرا بابایی</p></div>
    <div class="topleft" style="display:grid; z-index:5" >
        <a href="select_contact.html"><img src="../../static/images/message.svg" style="height:50px;width:50px;"/></a>
        <a href="../../MySite/templates/index.html">خروج</a>
        <p>96/5/5</p>

    </div>
    <div class="center"><p style="font-size: 150%; padding: 5px; font-weight: bold;">سامانه مدیریت ساختمان آس </p>
    </div>

</div>
<div class="menu">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ویرایش اطلاعات</a>
            <div class="dropdown-content">
                <a href="edit_profile.html">اطلاعات حساب</a>
                <a href="edit_complex_information.html">اطلاعات مجتمع</a>
                <a href="editNeighbours.html">اطلاعات ساکنین</a>
                <a href="editUnit.html">اطلاعات واحدها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">اطلاعیه ها</a>
            <div class="dropdown-content">
                <a href="{% url 'site:manager:board'%}">بورد</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">گزارشات</a>
            <div class="dropdown-content">
                <a href="payingReports.html">پرداخت های همسایه ها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">رزرو</a>
            <div class="dropdown-content">
                <a href="reservesCheck.html">درخواست های رزرو</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">امور مالی</a>
            <div class="dropdown-content">
                <a href="#">افزایش اعتبار</a>
            </div>
        </li>
        <a href="requests.html" class="notDropdown">درخواست پشتیبانی</a>

    </ul>
</div>

</body>
</html>