<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>اضافه کردن به بورد</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>
    <script>
        function f(){alert("درخواست با موفقیت ثبت شد."); window.location.href="editNeighbours.html";}
        function g(){
    var e = document.getElementById("from");
    var strUser = e.options[e.selectedIndex].value;
    var f = document.getElementById("cost_tag");
    if (strUser == "event")
      f.style.display='block';
    else
      f.style.display='none';
    }</script>
</head>
<body>
<div class="container">

    <img class="cover" src="../../static/images/cover.jpg">
    <div class="topright"><img class="img-circle" src="../../static/images/user_profile_female.jpg">
        <p>زهرا بابایی</p></div>
    <div class="topleft" style="display:grid; z-index:5" >
            <a href="select_contact.html"><img src="../../static/images/message.svg" style="height:50px;width:50px;"/></a>
        <a href="../../MySite/templates/index.html">خروج</a>
        <p>96/5/5</p>

    </div>
    <div class="center"><p style="font-size: 150%; padding: 5px; font-weight: bold;">سامانه مدیریت ساختمان آس </p>
    </div>

</div>
<div class="menu">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ویرایش اطلاعات</a>
            <div class="dropdown-content">
                <a href="edit_profile.html">اطلاعات حساب</a>
                <a href="edit_complex_information.html">اطلاعات مجتمع</a>
                <a href="editNeighbours.html">اطلاعات ساکنین</a>
                <a href="editUnit.html">اطلاعات واحدها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">اطلاعیه ها</a>
            <div class="dropdown-content">
                <a href="board.html">بورد</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">گزارشات</a>
            <div class="dropdown-content">
                <a href="payingReports.html">پرداخت های همسایه ها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">رزرو</a>
            <div class="dropdown-content">
                <a href="reservesCheck.html">درخواست های رزرو</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">امور مالی</a>
            <div class="dropdown-content">
                <a href="#">افزایش اعتبار</a>
            </div>
        </li>
        <a href="requests.html" class="notDropdown">درخواست پشتیبانی</a>

    </ul>
</div>

<div class="main">
    <h5>افزودن رویداد/خبر به برد</h5>
    <form action="Welcome.html" method="post">
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td>
         <select class="from" name="choose"  id ="from" placeholder="" onchange="g()">
                    <option value="event">رویداد</option>
                    <option value="news">خبر</option>
                </select>
        </td>
                <td><label for="unit">نوع </label></td>
            </tr>

            <tr>

                <td><input type="text" name="username" id="username"></td>
                <td><label for="username"> عنوان</label></td>
            </tr>

            <tr>

               <td><input type="text" name="description" id="description"></td>
                <td><label for="description">توضیحات </label></td>
            </tr>

            <tr id="cost_tag"  >

               <td><input type="text" name="cost" id="cost"></td>
                <td><label for="cost">مبلغ </label></td>
            </tr>


            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ثبت</button>

</div>


</body>
</html>


