{% extends 'managerBase.html' %}

{% block title %}ثبت درخواست{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class="main">
    <h5>درخواست پشتیبانی</h5>
    <form action="" method="post">
        {% csrf_token %}
    <table class="tbl" border="0" align="center">
        <tbody>

        <tr>

            <td>{{ form.title }}</td>
            <td><label for="title">عنوان </label></td>
        </tr>

        <tr>

            <td>{{ form.subject }}
             <td><label for="subject">موضوع </label></td>
        </tr>

        <tr>

            <td>{{ form.text }}</td>
            <td><label for="txt">متن </label></td>
        </tr>


        </tbody>
    </table>
        <input type="submit" class="btn"  value="ثبت">
</form>

{#    <button type="button" class="btn" onclick="window.location.href='requests.html'">ثبت</button>#}

</div>
{% endblock %}
