{% extends 'managerBase.html' %}

{% block title %}اضافه کردن واحد{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){alert("واحد با موفقیت اضافه شد"); window.location.href="editUnit.html";}
{% endblock %}

{% block content %}
<div class="main">
    <h5>وارد کردن اطلاعات واحد جدید</h5>
    <form action="Welcome.html" method="post">
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td><input type="number" name="unit" id="unit" min="1" max="100"></td>
                <td><label for="unit">شماره واحد </label></td>
            </tr>

            <tr>

               <td><input type="number" name="block" id="block" min="1" max="100"></td>
                <td><label for="block">شماره بلوک </label></td>
            </tr>

            <tr>

               <td><input type="number" name="area" id="area" min="1" max="500"></td>
                <td><label for="area">متراژ</label></td>
            </tr>


            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ثبت</button>

</div>
{% endblock %}




