<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>اطلاعات مجتمع</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>
</head>
<body>
<div class="container">

    <img class="cover" src="../../static/images/cover.jpg">
    <div class="topright"><img class="img-circle" src="../../static/images/user_profile_female.jpg">
        <p>زهرا بابایی</p></div>
    <div class="topleft" style="display:grid; z-index:5" >             <a href="select_contact.html"><img src="../../static/images/message.svg" style="height:50px;width:50px;"/></a>
        <a href="../../MySite/templates/index.html">خروج</a>
        <p>96/5/5</p>

    </div>
    <div class="center"><p style="font-size: 150%; padding: 5px; font-weight: bold;">سامانه مدیریت ساختمان آس </p>
    </div>

</div>
<div class="menu">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ویرایش اطلاعات</a>
            <div class="dropdown-content">
                <a href="edit_profile.html">اطلاعات حساب</a>
                <a href="edit_complex_information.html">اطلاعات مجتمع</a>
                <a href="editNeighbours.html">اطلاعات ساکنین</a>
                <a href="editUnit.html">اطلاعات واحدها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">اطلاعیه ها</a>
            <div class="dropdown-content">
                <a href="board.html">بورد</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">گزارشات</a>
            <div class="dropdown-content">
                <a href="payingReports.html">پرداخت های همسایه ها</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">رزرو</a>
            <div class="dropdown-content">
                <a href="reservesCheck.html">درخواست های رزرو</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">امور مالی</a>
            <div class="dropdown-content">
                <a href="#">افزایش اعتبار</a>
            </div>
        </li>
        <a href="requests.html" class="notDropdown">درخواست پشتیبانی</a>

    </ul>
</div>

<div class="main">
    <h5>ویرایش اطلاعات همسایه</h5>
   <form action="Welcome.html" method="post">
        <table class="tbl" border="0" align="center">
            <tbody>

            <tr>

               <td><select class="from" name="choose"  placeholder="">
                    <option>ساختمان مسکونی</option>
                    <option value>ساختمان اداری</option>
                </select></td></td>
                <td><label for="type">نوع ساختمان </label></td>
            </tr>

            <tr>

                <td><input type="number" name="telephone" id="telephone"></td>
                <td><label for="telephone"> شماره تلفن</label></td>
            </tr>

            <tr>

               <td><input type="text" name="address" id="address" ></td>
                <td><label for="address">آدرس </label></td>
            </tr>

             <tr>

               <td><select class="from" name="choose"  placeholder="">
                    <option>تهران</option>
                    <option value>پردیس</option>
                </select></td></td>
                <td><label for="city">شهر </label></td>
            </tr>
			 <tr>

               <td><select class="from" name="choose"  placeholder="">
                    <option>تهران</option>
                    <option >آذربایجان شرقی</option>
                </select></td></td>
                <td><label for="type">استان</label></td>
            </tr>
			<tr>

                <td><input type="number" name="zip_code" id="zip_code"></td>
                <td><label for="zip_code"> کد پستی</label></td>
            </tr>

            </tbody>
        </table>
    </form>

    <button type="button" class="btn" onclick="f()">ثبت</button>

</div>


</body>
</html>


