{% extends 'managerBase.html' %}

{% block title %}ارسال دعوت نامه{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/addReqStyle.css"/>{% endblock %}

{% block script %}
    function f(){ window.location.href="message.html";}
{% endblock %}

{% block content %}

    <div class="main">
        <h5>ارسال دعوت نامه</h5>
        <form action="Welcome.html" method="post">
            <table class="tbl" border="0" align="center">
                <tbody>

                <tr>

                    <td><select id="subject" required name="receiver">
                        {% for s in form.receiver %}
                            {{ s }}
                        {% endfor %}
                    </select></td>
                    <td><label for="subject">گیرنده </label></td>
                </tr>
                <tr>

                    <td><textarea class="txt" id="txt" name="text" cols="100" rows="20"></textarea></td>
                    <td><label for="txt">متن </label></td>
                </tr>


                </tbody>
            </table>
        </form>

        <button type="button" class="btn" onclick="window.location.href='{% url 'site:manager:select_contact' %}' ">
            ارسال
        </button>

</div>

{% endblock %}




