{% extends 'managerBase.html' %}

{% block title %}درخواست های رزرو{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../../static/css/viewBillStyles.css"/>{% endblock %}

{% block script %}
    function f(){alert("درخواست رزرو با موفقیت تایید گردید")}
{% endblock %}

{% block content %}
<div class="main">
    <h5>درخواست های رزرو</h5>

<select class="from" name="choose"  placeholder="به ترتیب">
                    <option value="جدیدترین">جدیدترین</option>
                    <option value="قدیمی ترین">قدیمی ترین</option>
                </select></td>
      <input type="date" name="time" class="from">
از تاریخ
    <input type="date" name="time" class="from">
  تا تاریخ


    <table>
        <tr>
            <th> </th>
            <th>مبلغ</th>
            <th>وضعیت</th>
            <th>مدت</th>
            <th>زمان و تاریخ ایجاد</th>
            <th>زمان و تاریخ استفاده</th>
            <th>امکان</th>
            <th>شماره واحد</th>
            <th>شماره بلوک</th>
            <th>ردیف</th>
        </tr>
        <tr>
            <td><a href="#" onclick="f()">تایید</a></td>
            <td>1000000ریال</td>
            <td>درانتطار بررسی </td>
            <td>1:30 </td>
            <td>96/4/19 _ 20:23 </td>
            <td>96/4/25 _ 16:00 </td>
            <td>استخر</td>
            <td>25 </td>
            <td>2 </td>
            <td>1 </td>
        </tr>

    </table>

    <a href="javascript:void(0)" class="btn"><img src="../../static/images/printer.png" class="linkImg1"></a>
    <a href="javascript:void(0)" class="btn"><img src="../../static/images/save.png" class="linkImg2"></a>

</div>
{% endblock %}
